* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}


.paper {
  z-index: 1;
  width: 40%;
  min-width: min-content;
  min-height: min-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .91);
  /*background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0.7) 100%);*/
  box-shadow: 0.1rem 0.1rem 0.3rem #BBB;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.titlebox {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.icons {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.icon {
  opacity: 0.65;
  padding: 0 0.5rem;
  transition: opacity .25s ease-in-out;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.85;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-style: italic;
}

.title, .subtitle > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hint {
  color: grey;
  text-align: center;
}

svg {
  z-index: 0;
}

#root {
  position: fixed;
  z-index: 0;
}

@media only screen and (max-width: 30em){
  h1 {
    font-size: calc(1rem + 2vw);
  }
  h2 {
    font-size: calc(1rem + 0.8vw);
  }
  p {
    font-size: calc(1rem + 0.4vw);
  }
  .hint {
    display: none;
  }
}
